.navbar {
    position: absolute;
    left: 148px;
}

.navbar .navbar_list {
    position: relative;
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    padding-top: 52px;
}

.navbar .navbar_link {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.navbar .navbar_link:hover{
    color: #d1ccc0;
}

.navbar .navbar_link span {
    margin-left: 40px;
}

.navbar .navbar_logo {
    position: absolute;
    bottom: 0px;
    left: 5px;
}